name: k6 Load Test

on:
  workflow_dispatch:  # manual trigger
  push:
    paths:
      - 'k6-load-tests/**'

jobs:
  load-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup k6
        uses: grafana/setup-k6-action@v1
      - name: Run load tests
        run: k6 run k6-load-tests/tests/basic_api_test.js
